html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* custom style */
* {
    box-sizing: border-box;
}
/* body */
body {
    font-family: 'Open Sans', sans-serif;
}
/* container */
.container {
    max-width: 1200px;
    margin: 0 auto;
}
/* flex */
.flex {
    display: flex;
}
/* header */
.header {
    max-width: 1200px;
    border: 1px solid gray;
    position: sticky;
    z-index: 1;
    top: 0;
    margin-top: 100px;
    margin-left: 318px;

 }
.navbar {
    background-color: white;
} 
.headline {
    width: 30%;
    font-size: 48px;
    padding-left: 50px;
    padding-top: 20px;
    font-weight: 700;
    color: #ec523f;
}
.navlink {
    margin-top: 40px;
    font-size: 22px;
}
.navlink a {
    margin-left: 20px;
    text-decoration: none;
    color: grey;
}
.active {
    color: #ec523f;
    border-top: 2px solid #ec523f;
    padding-top: 32px;
}
.hero {
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    bottom: 310px; 
}
.contact-link {
    padding-top: 150px;
    text-align: center;
}
.icons {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: 1px solid gray;
    font-size: 20px;
    border-radius: 50%;
    background-color: white;
}
.icons a {
    color: grey;
}
.main-contant {
    padding: 300px 0;
    text-align: center;
}
.main-head {
    font-size: 40px;
    font-weight: 700;
    color: white;
}
.main-line {
    width: 400px;
    color: white;
    margin-bottom: 20px;
}
.main-text {
    font-size: 20px;
    color: white;
    font-weight: 500;
    padding: 20px 0;
}
.main-contant-btn {
    width: 200px;
    height: 50px;
    padding: 17px;
    background-color:#ec523f;
    border-radius: 10px;
    color: white;
    margin-left: 500px;
}
.point {
    position: relative;
    bottom: 300px;
    text-align: center;

}
.points {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: grey;
    display: inline-block;
}
.one {
    background-color: black;
}
/* service */
.services {
    position: relative;
    bottom: 150px;
    text-align: center;
}
.service-head {
    font-size: 40px;
    font-weight: 700;
}
.service-line {
    width: 300px;
    margin-bottom: 10px;
}
.service-text {
    font-size: 20px;
    font-weight: 400;
    margin: 20px 0;
}
.box {
    width: 290px;
    height: 300px;
    margin-left: 20px;
    padding: 130px 50px 100px 50px;
    font-size: 30px;
}
.box-one {
    margin-left: 0;
    background-color: #5cbd9d;
}
.box-two {
    background-color: #e67f31;
}
.box-three {
    background-color: #3998db;
}
.box-four {
    background-color: #68cd73;
}
/* portfolio */
.portfolio {
    text-align: center;
}
.portfolio-heading {
    font-size: 40px;
    font-weight: 700;
}
.portfolio-line {
    width: 330px;
}
.portfolio-text {
    font-size: 20px;
    font-weight: 400;
    margin: 20px 0;
}
.portfolio-img {
    flex-wrap: wrap;
}
.photo {
    width: 23%;
    margin: 10px 0 10px 20px;
}
.photo img {
    width: 100%;
    height: 250px;
}
/* Team */
.team {
    text-align: center;
    padding: 120px 0;
}
.team-heading {
    font-size: 40px;
    font-weight: 700;
}
.team-line {
    width: 210px;
}
.team-text {
    margin: 20px 0;
    font-size: 20px;
    font-weight: 400;
}
.team-img {
    margin: 20px 0;
}
.img {
    width: 23%;
    margin-left: 40px;
}
.img img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
/* design */
.design {
    text-align: center;
}
.design-heading {
    font-size: 25px;
    font-weight: 500;
    padding: 10px 0;
}
.design-text {
    font-size: 16px;
    font-weight: 300;
    line-height: 10px;
}
.design-box {
    padding: 30px 0;
}
.design-box-text {
    width: 50%;
    text-align: left;
    height: 350px;
}
.box-text-one {
  margin-bottom: 30px;
  line-height: 20px;
}
.world {
    color: #ec523f;
}
.progress-bar {
    padding: 0 40px;
    text-align: left;
}
.bigbar {
    width: 500px;
    height: 36px;
    background-color: rgb(235, 230, 230);
    margin: 10px 0;
}
.bar-one {
    width: 400px;
    padding: 10px;
    background-color: #ec523f;
    color: white;
    font-weight: 700;
    margin: 0;
}
.bar-two {
    width: 350px;
    padding: 10px;
    background-color: #ec523f;
    color: white;
    font-weight: 700;
}
.bar-three {
    width: 300px;
    padding: 10px;
    background-color: #ec523f;
    color: white;
    font-weight: 700;
}
.bar-four {
    width: 350px;
    padding: 10px;
    background-color: #ec523f;
    color: white;
    font-weight: 700;
}
/* Contact */
.contact {
    text-align: center;
}
.contact-heading {
    font-size: 40px;
    font-weight: 700;
}
.contact-line {
    width: 200px;
    margin-bottom: 20px;
}
.contact-text {
    font-size: 20px;
    font-weight: 400;
}
.contact-map {
    margin: 30px 0;
}
.contact-info {
    margin: 20px 0;
}
.info {
    width: 60%;
}
.contact-info-text {
    margin: 10px 0;
    text-align: left;
    line-height: 25px;
}
.p0 {
    color: blue;
}
.p1 {
    color: green;
}
.p2 {
    color: #ec523f;
}
.form {
    margin-left: 40px;
}
.name {
    width: 400px;
    height: 40px;
    margin-bottom: 10px;
}
.email {
    width: 400px;
    height: 40px;
    margin: 10px 0;
}
.subject {
    width: 400px;
    height: 40px;
}
.message {
    width: 400px;
    height: 70px;
    margin: 10px 0;
}
.form-btn {
    width: 400px;
    height: 40px;
    background-color: #ec523f;
    padding: 10px;
    color: white;
}
footer {
    margin: 100px 0;
}
.footer-name {
    width: 80%;
}
.footer-btn {
    width: 150px;
    height: 40px;
    padding: 15px 20px;
    background-color: #ec523f;
}
.footer-btn a {
    text-decoration: none;
    color: white;
}
/* Gallery */
.gallery {
    position: relative;
}
.sidebar {
    width: 700px;
    height: 100vh;
    background-color: #ec523f;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
} 
.topbox {
    margin: 70px 50px;
}
.topbox-heading {
    font-size: 40px;
    font-weight: 700;
    padding: 30px;
    color: white;
}
.topbox-btn {
    width: 80px;
    margin: 20px 0 25px 250px;
    padding: 15px 20px 15px 10px;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 12px;
}
.topbox-btn a {
    text-decoration: none;
    color: white;
}
.bottombox {
    margin: 50px 50px;
}
.bottombox-heading {
    font-size: 30px;
    font-weight: 700;
    padding: 30px 80px 30px 30px;
    color: white;
}
.bottombox-text {
    font-size: 20px;
    font-weight: 400;
    padding: 0 80px 0 30px;
}
.gallery-icons {
    margin: 20px 80px 20px 30px;
}
.icon {
    border: 2px solid white;
    border-radius: 50%;
    padding: 15px;
    margin-left: 20px;
}
.icon a {
    color: white;
}
.gallery-photo {
    width: 1100px;
    position: relative;
    left: 730px;
}
.photo-heading {
    margin-left: 500px;
    font-size: 40px;
    font-weight: 700;
    padding: 30px 0;
}
.photos-imgs {
    flex-wrap: wrap;
}
.photos-odd {
    width: 50%;
}
.photos-even {
    width: 50%;
}
.photos-two img {
    width: 480px;
    height: 500px;
    margin: 30px;
    border: 2px solid black;
}
.photos img {
    width: 480px;
    height: 700px;
    margin: 30px;
    border: 2px solid black;
}
.photos-one img {
    width: 480px;
    height: 300px;
    margin: 30px;
    border: 2px solid black;
}
.photos-ten img {
    width: 480px;
    height: 700px;
    margin: 30px;
    border: 2px solid black;
}
